# Ignore node_modules
node_modules/

# Ignore environment variables
.env

# Ignore logs
logs/
*.log

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore build artifacts
dist/
build/

# Ignore npm debug logs
npm-debug.log*

# Ignore OS-specific files
.DS_Store
Thumbs.db